apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: imagemanager
rules:
- apiGroups:
  - ""
  attributeRestrictions: null
  resources:
  - serviceaccounts
  verbs:
  - get
- apiGroups:
  - ""
  attributeRestrictions: null
  resources:
  - secrets
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  - image.openshift.io
  attributeRestrictions: null
  resources:
  - imagestreamimages
  - imagestreamtags
  - imagestreams
  - images
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  - image.openshift.io
  attributeRestrictions: null
  resources:
  - imagestreamimports
  - imagesignatures
  verbs:
  - create
- apiGroups:
  - ""
  - image.openshift.io
  attributeRestrictions: null
  resources:
  - imagestreams/layers
  verbs:
  - get
  - update
- apiGroups:
  - ""
  attributeRestrictions: null
  resources:
  - pods
  verbs:
  - create
  - get
  - list
  - watch
  - delete
- apiGroups:
  - ""
  attributeRestrictions: null
  resources:
  - pods/proxy
  verbs:
  - get
- apiGroups:
  - ""
  attributeRestrictions: null
  resources:
  - images
  verbs:
  - create
  - get
- apiGroups:
  - ""
  - "imagesigningrequests.cop.redhat.com"
  - "imagescanningrequests.cop.redhat.com"
  attributeRestrictions: null
  resources:
  - imagesigningrequests
  - imagescanningrequests
  verbs:
  - get
  - list
  - update
  - watch